# ──────────────────────────────────────
# API Server URL
# Khi chạy local: http://localhost:5001
# Khi chạy trên LAN: http://<IP_MÁY_CHẠY_BACKEND>:5001
# ──────────────────────────────────────
VITE_API_URL=http://localhost:5001
